Info: 
<ul>
<li>
<%= escape_html(params[:person_name]) %>
</li>
<li>
<%= escape_html(params[:month]) %> 
<%= escape_html(params[:date]) %>, 
<%= escape_html(params[:year]) %> 
</li>
<li>
<%= escape_html(params[:location]) %>
</li>
<li>
<%= escape_html(params[:gender]) %>
</li>
</ul>
